
footer.footer
    p.footer-logo © 2025 TicketPass, LLC
    ul.footer-links
        li
            a(href="#about") Términos
        li
            a(href="#privacy") Políticas
        li
            a.contact-button(href="#contact") Contacto
</html>