
//- Navbar ---------------------------------------------------------------
// Contenedor principal del menú de navegación
nav.navbar
    // Enlace que actúa como logo y redirige al inicio
    a.logo(href="/")
        img(src=`${base}assets/img/icons/ticket_pass.webp`, width="50", alt="telemoji ticket")
        |   TicketPass

    // Lista de enlaces de navegación
    ul.nav-links
        // Primer enlace: lleva a la sección de inicio de sesión
        li
            a(href="#login") Iniciar Sesión

        // Segundo enlace: lleva a la sección de registro y tiene estilo especial de botón
        li
            a.cta-button(href="#register") Registrarse